body {
  margin: 0;
  padding: 0;
}

.header {
  padding: 20px;
  height: 80px;
  background-image: linear-gradient(45deg, #f77062 0%, #fe5196 100%);
  display: flex;
  align-items: flex-end;

  &__nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav__hamburger {
    height: 12px;
  }

  &__nav__title {
    font-family: Roboto-Medium;
    font-size: 12px;
    color: #ffffff;
    letter-spacing: 1.5px;
    text-align: center;
  }
}

.content {
  background: #f9fafb;
  padding: 10px 0;
}

.user-list-item {
  padding: 20px;
  margin-bottom: 10px;
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;

  &__picture {
    margin-right: 20px;
    height: 60px;
    border-radius: 50%;
  }

  &__name {
    font-family: Roboto-Light;
    font-size: 16px;
    color: #f77062;
    margin-bottom: 5px;
  }

  &__location {
    font-family: Roboto-Light;
    font-size: 12px;
    color: #878787;
  }
}
