html {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.header {
  padding: 20px;
  height: 80px;
  background-image: linear-gradient(45deg, #f77062 0%, #fe5196 100%);
  display: flex;
  align-items: flex-end;

  &__nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__hamburger {
      height: 12px;
    }

    &__title {
      font-family: Roboto-Medium;
      font-size: 12px;
      color: #ffffff;
      letter-spacing: 1.5px;
      text-align: center;
    }
  }
}

.content {
  background: #f9fafb;
  padding: 10px 0;
  min-height: 100vh;
}

.user-list-item {
  margin-bottom: 10px;

  &__main {
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    cursor: pointer;

    &__picture {
      margin-right: 20px;
      height: 60px;
      border-radius: 50%;
    }

    &__name {
      font-family: Roboto-Light;
      font-size: 16px;
      color: #f77062;
      margin-bottom: 5px;
    }

    &__location {
      font-family: Roboto-Light;
      font-size: 12px;
      color: #878787;
    }

    &__expandable {
      margin-left: auto;
    }
  }

  &__expandable-container {
    margin: 0 10px 10px;
    min-height: 80px;
    background-image: linear-gradient(45deg, #f77062 0%, #fe5196 100%);

    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__item {
      flex: 50%;
      text-align: center;

      &__title {
        font-family: Roboto-Light;
        font-size: 14px;
        color: #ffffff;
        text-align: center;
        margin-bottom: 10px;
      }

      &__text {
        font-family: Roboto-Light;
        font-size: 12px;
        color: #ffffff;
        text-align: center;
      }
    }

    &__divider {
      min-height: 80px;
      width: 1px;
      background: linear-gradient(#000, #000) no-repeat center/2px 100%;
      opacity: 0.1;
      flex-grow: 1;
    }
  }

  &__email-link {
    text-decoration: none;
    color: #ffffff;
  }
}
